{% extends 'main/base.html' %}
{% block title %}
    Create session
{% endblock %}

{% block statics %}    
    {% load static %}
    <script type="text/javascript" src="{% static 'scripts/create_session.js' %}" defer></script>
{% endblock %}

{% block content %}
{% if user.is_superuser %}
    <div>Create session</div>  
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create session</button>
        <button type="button" id="generate-password-button">Generate Password</button>

    </form>
{% endif %}
{% endblock %}

