{% extends 'main/base.html' %}
{% block title %}
    ESRGAN
{% endblock %}

{% block statics %}    
    {% load static %}
    <script type="text/javascript" src="{% static 'esrgan.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div>ESRGAN</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Click image from below to add to edit</h5>
                        <div id="image_to_edit"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <form id="myForm" method="post" action="{% url 'esrgan_run' %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-outline-secondary btn-block">Run script</button>
                            </form>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'image_to_edit')">
        {% endfor %}
    {% endfor %}
    </div>
 
    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>

    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>

    <div class="m-3" id="gan_image_from_base">
        <h2>GAN Image from base:</h2>
        {% for esrganPhoto in esrganPhotos %}
            <img src="{{ esrganPhoto.image.url }}" alt="connect" style="max-height: 100px">
        {% endfor %}
    </div>
    <form action="{% url 'esrgan_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all esrgan photos from database</button>
      </form>





{% endblock %}