{% extends 'main/base.html' %}
{% block title %}
    ESRGAN
{% endblock %}

{% block statics %}    
    {% load static %}
    <script type="text/javascript" src="{% static 'image_to_image.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div>ESRGAN</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'iti_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Click image from below to add to edit</h5>
                            <div id="image_to_edit"></div>

                            <label for="model_input">Select Model:</label>
                            <select name="model_input" id="model_input">
                                <option value="runwayml/stable-diffusion-v1-5">runwayml/stable-diffusion-v1-5</option>
                                <option value="stabilityai/stable-diffusion-2-1">stabilityai/stable-diffusion-2-1</option>
                                <option value="kandinsky-community/kandinsky-2-2-decoder">kandinsky-community/kandinsky-2-2-decoder</option>
                                <option value="stabilityai/stable-diffusion-xl-refiner-1.0">stabilityai/stable-diffusion-xl-refiner-1.0</option>
                            </select>
                            </br>
                            <textarea name="text_input" rows="2" cols="58" required></textarea>
                            </br>
                            <label for="seed_input">Seed:</label>
                            <input type="number" name="seed_input" id="seed_input" value="598598540">
                            <button type="button" onclick="generateRandomSeed()">Generate Random Seed</button>
                            </br>

                            <label for="strength_scale_input">Strength:</label>
                            <input type="range" name="strength_scale_input" id="strength_scale_input" min="0.0" max="1.0" step="0.1" value="0.6">
                            <output for="strength_scale_input">0.6</output>
                            </br>

                            <label for="guidance_scale_input">Guidance Scale:</label>
                            <input type="range" name="guidance_scale_input" id="guidance_scale_input" min="0.0" max="20.0" step="0.1" value="3.0">
                            <output for="guidance_scale_input">3.0</output>
                            </br>

                            
                            <input type="checkbox" name="is_composition" id="isCompositionCheckbox">
                            <label for="isCompositionCheckbox">Is Composition</label>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'image_to_edit')">
        {% endfor %}
    {% endfor %}
    </div>

    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>
    
    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>

    <form action="{% url 'iti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all image to image photos from database</button>
    </form>

{% endblock %}