{% extends 'main/base.html' %}
{% block title %}
    ESRGAN
{% endblock %}



{% block content %}

    <div>ESRGAN</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'IMAGETOIMAGE_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Click image from below to add to edit</h5>
                            <div id="image_to_edit"></div>
                            <h5 class="card-title">Add prompt to edit this photo</h5>
                            <input type="text" name="text_input" required>
                            <h5 class="card-title">Add prompt strength</h5>
                            <input type="text" name="prompt_strength" required>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'image_to_edit')">
        {% endfor %}
    {% endfor %}
    </div>

    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>
    
    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>

    <form action="{% url 'delete_all_iti_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all image to image photos from database</button>
      </form>


<script>
function checkAndSubmit() {
    var imageToEdit = document.getElementById('image_to_edit');
    if (imageToEdit.children.length > 0) {
        var selectedImage = imageToEdit.children[0];
        var photoId = selectedImage.getAttribute('data-photo-id');

        var formData = new FormData(document.getElementById('myForm'));
        var photoModel = selectedImage.getAttribute('data-photo-model');

        formData.append('photo_id', photoId);
        formData.append('photo_model', photoModel);


        fetch(document.getElementById('myForm').action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('changed_img').innerHTML = '<img src="' + data.changed_image_url + '" alt="Changed Image" style="max-height: 200px">';
            var imagetoimage = document.createElement('img');
            imagetoimage.src = data.changed_image_url;
            imagetoimage.alt = 'changed image';
            imagetoimage.style = 'max-height: 100px';
            document.getElementById('iti_image_from_base').appendChild(imagetoimage);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else{
        alert('Add image before running the script.');
    }
}



function moveImageToEdit(imgElement, sourceContainerId, targetContainerId) {
    var sourceContainer = document.getElementById(sourceContainerId);
    var targetContainer = document.getElementById(targetContainerId);
    var changedImgContainer = document.getElementById('changed_img');

    if (targetContainer.children.length > 0) return;

    sourceContainer.removeChild(imgElement);
    imgElement.style.maxHeight = '200px';

    imgElement.onclick = function() {
        changedImgContainer.innerHTML = '';
        sourceContainer.appendChild(imgElement);
        imgElement.style.maxHeight = '100px';
        imgElement.onclick = function() {
            moveImageToEdit(this, sourceContainerId, targetContainerId);
        };
    };

    targetContainer.appendChild(imgElement);
}


    document.getElementById('myForm').addEventListener('submit', function (event) {
        event.preventDefault();
    });
</script>

{% endblock %}