{% extends 'main/base.html' %}
{% block title %}
    INPAINT
{% endblock %}



{% block content %}
<div data-testid="image" class="image-container svelte-p3y7hu" style="position: relative;">

    <img id="originalImage" src="../../../../media/gan_photos/esrgan/2_esrgan.png" style="display: none">
    <button onclick="saveImage()">Zapisz zmieniony obraz</button>




    <div>INPAINT</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'inpaint_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Click image from below to add to edit</h5>
                            <div id="image_to_edit"></div>
                            <canvas id="myCanvas"></canvas>

                        </form>

                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'image_to_edit')">
        {% endfor %}
    {% endfor %}
    </div>

    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>
    
    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'image_to_edit')">
        {% endfor %}
    </div>

    <form action="{% url 'iti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all image to image photos from database</button>
      </form>

      <style>
        canvas {
            border: 1px solid #000;
        }
    </style>
<script>

function checkAndSubmit() {
    var imageToEdit = document.getElementById('image_to_edit');
    if (imageToEdit.children.length > 0) {
        var selectedImage = imageToEdit.children[0];
        var photoId = selectedImage.getAttribute('data-photo-id');

        var formData = new FormData(document.getElementById('myForm'));
        var photoModel = selectedImage.getAttribute('data-photo-model');

        formData.append('photo_id', photoId);
        formData.append('photo_model', photoModel);


        fetch(document.getElementById('myForm').action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('changed_img').innerHTML = '<img src="' + data.changed_image_url + '" alt="Changed Image" style="max-height: 200px">';
            var imagetoimage = document.createElement('img');
            imagetoimage.src = data.changed_image_url;
            imagetoimage.alt = 'changed image';
            imagetoimage.style = 'max-height: 100px';
            document.getElementById('iti_image_from_base').appendChild(imagetoimage);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else{
        alert('Add image before running the script.');
    }
}



function moveImageToEdit(imgElement, sourceContainerId, targetContainerId) {
    var sourceContainer = document.getElementById(sourceContainerId);
    var targetContainer = document.getElementById(targetContainerId);
    var changedImgContainer = document.getElementById('changed_img');

    if (targetContainer.children.length > 0) return;

    sourceContainer.removeChild(imgElement);
    imgElement.style.maxHeight = '200px';

    imgElement.onclick = function() {
        changedImgContainer.innerHTML = '';
        sourceContainer.appendChild(imgElement);
        imgElement.style.maxHeight = '100px';
        imgElement.onclick = function() {
            moveImageToEdit(this, sourceContainerId, targetContainerId);
        };
    };

    targetContainer.appendChild(imgElement);
}


    document.getElementById('myForm').addEventListener('submit', function (event) {
        event.preventDefault();
    });





 // Pobierz obraz oryginalny i ustaw go jako tło canvas
 var originalImage = document.getElementById('originalImage');
var canvas = document.getElementById('myCanvas');
var context = canvas.getContext('2d');
canvas.width = 400;
canvas.height = 250;
context.drawImage(originalImage, 0, 0, canvas.width, canvas.height);

var isDrawing = false;

// Funkcja uruchamiana po naciśnięciu przycisku zapisu
function saveImage() {
    // Pobierz dane obrazu z canvas
    var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    
    // Przeiteruj po każdym pikselu i zmień kolor zgodnie z warunkiem
    var tolerance = 5;

for (var i = 0; i < imageData.data.length; i += 4) {
    var red = imageData.data[i];
    var green = imageData.data[i + 1];
    var blue = imageData.data[i + 2];

    // Sprawdź, czy piksel jest w zakresie koloru fioletowego z tolerancją +-5
    var isPurple = Math.abs(red - 184) <= tolerance &&
                   Math.abs(green - 3) <= tolerance &&
                   Math.abs(blue - 255) <= tolerance;

    // Jeśli piksel jest w zakresie koloru fioletowego, ustaw na biały, w przeciwnym razie na czarny
    if (isPurple) {
        imageData.data[i] = 255; // Red
        imageData.data[i + 1] = 255; // Green
        imageData.data[i + 2] = 255; // Blue
    } else {
        imageData.data[i] = 0; // Red
        imageData.data[i + 1] = 0; // Green
        imageData.data[i + 2] = 0; // Blue
    }
}
    // Wstaw zmodyfikowane dane z powrotem do canvas
    context.putImageData(imageData, 0, 0);

    // Otwórz nowe okno i zapisz obraz
    var editedImage = canvas.toDataURL('image/png');
    var newWindow = window.open();
    newWindow.document.write('<img src="' + editedImage + '" width="100%">');
}

function startDrawing(e) {
    isDrawing = true;
    draw(e);
}

function stopDrawing() {
    isDrawing = false;
    context.beginPath();
}

function draw(e) {
    if (!isDrawing) return;

    context.lineWidth = 50;
    context.lineCap = 'round';
    context.strokeStyle = '#b803ff';

    var rect = canvas.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    context.lineTo(x, y);
    context.stroke();
    context.beginPath();
    context.moveTo(x, y);
}

canvas.addEventListener('mousedown', startDrawing);
canvas.addEventListener('mousemove', draw);
canvas.addEventListener('mouseup', stopDrawing);
canvas.addEventListener('mouseout', stopDrawing);








</script>

{% endblock %}