{% extends 'main/base.html' %}
{% block title %}
    INPAINT
{% endblock %}

{% block statics %}    
    {% load static %}
    <script type="text/javascript" src="{% static 'inpaint.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div>INPAINT</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title" id="instructionDiv">Click image from below to add to edit</h5>
                        <canvas id="myCanvas"></canvas>
                        <button onclick="saveImage()" id="saveButton" style="display: none;" type="button" class="btn btn-outline-secondary btn-block">Create Mask</button>
                        <button onclick="reset()" id="resetButton" style="display: none;" type="button" class="btn btn-outline-secondary btn-block">Reset</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 30rem;">
                    <div class="card-body" id="middleOptionsButton" style="display: none;">
                        <h5 class="card-title">
                            <form id="myForm" method="post" action="{% url 'inpaint_run' %}">
                                {% csrf_token %}
                            <div id="maskedImage"></div>
                        </br>
                        <!-- <label for="model_input">Select Model:</label> -->
                            <select name="model_input" id="model_input">
                            <option value="runwayml/stable-diffusion-v1-5">runwayml/stable-diffusion-v1-5</option>
                            <option value="stabilityai/stable-diffusion-2-1">stabilityai/stable-diffusion-2-1</option>
                            <option value="kandinsky-community/kandinsky-2-2-decoder-inpaint">kandinsky-community/kandinsky-2-2-decoder-inpaint</option>
                            <option value="diffusers/stable-diffusion-xl-1.0-inpainting-0.1">diffusers/stable-diffusion-xl-1.0-inpainting-0.1</option>
                            </select>
                            </br>
                            <textarea name="text_input" rows="2" cols="60" required></textarea>
                            </br>
                            <label for="seed_input">Seed:</label>
                            <input type="number" name="seed_input" id="seed_input" value="598598540">
                            <button type="button" onclick="generateRandomSeed()">Generate Random Seed</button>
                            </br>

                            <label for="strength_scale_input">Strength:</label>
                            <input type="range" name="strength_scale_input" id="strength_scale_input" min="0.0" max="1.0" step="0.1" value="0.6">
                            <output for="strength_scale_input">0.6</output>
                            </br>

                            <label for="guidance_scale_input">Guidance Scale:</label>
                            <input type="range" name="guidance_scale_input" id="guidance_scale_input" min="0.0" max="20.0" step="0.1" value="3.1">
                            <output for="guidance_scale_input">3.1</output>
                            </br>

                            
                            <input type="checkbox" name="is_composition" id="isCompositionCheckbox">
                            <label for="isCompositionCheckbox">Is Composition</label>
                            </br>
                            <button type="button" id="scriptButton" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </form>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'myCanvas')">
        {% endfor %}
    {% endfor %}
    </div>

    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>
    
    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>

    <div class="m-3" id="inpaint_image_from_base">
        <h2>Inpaint Image from base:</h2>
        {% for inpaintPhoto in inpaintPhotos %}
            <img src="{{ inpaintPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ inpaintPhoto.id }}" data-photo-model="inpaintPhoto" onclick="moveImageToEdit(this, 'inpaint_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>

    <form action="{% url 'iti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all image to image photos from database</button>
    </form>

    <style> canvas {  border: 1px solid #000; } </style>

{% endblock %}