{% extends 'main/base.html' %}
{% block title %}
    INPAINT
{% endblock %}



{% block content %}
    <div>INPAINT</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title" id="instructionDiv">Click image from below to add to edit</h5>
                        <canvas id="myCanvas"></canvas>
                        <button onclick="saveImage()" id="saveButton" style="display: none;" type="button" class="btn btn-outline-secondary btn-block">Create Mask</button>
                        <button onclick="reset()" id="resetButton" style="display: none;" type="button" class="btn btn-outline-secondary btn-block">Reset</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card text-center" style="height: 30rem;">
                    <div class="card-body" id="middleOptionsButton" style="display: none;">
                        <h5 class="card-title">
                            <form id="myForm" method="post" action="{% url 'inpaint_run' %}">
                                {% csrf_token %}
                            <div id="maskedImage"></div>
                        </br>
                        <!-- <label for="model_input">Select Model:</label> -->
                            <select name="model_input" id="model_input">
                            <option value="runwayml/stable-diffusion-v1-5">runwayml/stable-diffusion-v1-5</option>
                            <option value="stabilityai/stable-diffusion-2-1">stabilityai/stable-diffusion-2-1</option>
                            <option value="kandinsky-community/kandinsky-2-2-decoder-inpaint">kandinsky-community/kandinsky-2-2-decoder-inpaint</option>
                            <option value="diffusers/stable-diffusion-xl-1.0-inpainting-0.1">diffusers/stable-diffusion-xl-1.0-inpainting-0.1</option>
                            </select>
                            </br>
                            <textarea name="text_input" rows="2" cols="60" required></textarea>
                            </br>
                            <label for="seed_input">Seed:</label>
                            <input type="number" name="seed_input" id="seed_input" value="598598540">
                            <button type="button" onclick="generateRandomSeed()">Generate Random Seed</button>
                            </br>

                            <label for="strength_scale_input">Strength:</label>
                            <input type="range" name="strength_scale_input" id="strength_scale_input" min="0.0" max="1.0" step="0.1" value="0.6">
                            <output for="strength_scale_input">0.6</output>
                            </br>

                            <label for="guidance_scale_input">Guidance Scale:</label>
                            <input type="range" name="guidance_scale_input" id="guidance_scale_input" min="0.0" max="20.0" step="0.1" value="3.1">
                            <output for="guidance_scale_input">3.1</output>
                            </br>

                            
                            <input type="checkbox" name="is_composition" id="isCompositionCheckbox">
                            <label for="isCompositionCheckbox">Is Composition</label>
                            </br>
                            <button type="button" id="scriptButton" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </form>
                        </h5>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="card" style="height: 30rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="image_from_base">
        <h2>Image from base:</h2>
        {% for session in sessions %}
        {% for photo in session.photo_set.all %}
            <img src="{{ photo.image.url }}" alt="connect" style="max-height: 100px"
                data-photo-id="{{ photo.id }}" data-photo-model="Photo" onclick="moveImageToEdit(this, 'image_from_base', 'myCanvas')">
        {% endfor %}
    {% endfor %}
    </div>

    <div class="m-3" id="tti_image_from_base">
        <h2>TextToImage Image from base:</h2>
        {% for ttiPhoto in ttiPhotos %}
            <img src="{{ ttiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ ttiPhoto.id }}" data-photo-model="texttoimagePhoto" onclick="moveImageToEdit(this, 'tti_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>
    
    <div class="m-3" id="iti_image_from_base">
        <h2>ImageToImage Image from base:</h2>
        {% for itiPhoto in itiPhotos %}
            <img src="{{ itiPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ itiPhoto.id }}" data-photo-model="imagetoimagePhoto" onclick="moveImageToEdit(this, 'iti_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>

    <div class="m-3" id="inpaint_image_from_base">
        <h2>Inpaint Image from base:</h2>
        {% for inpaintPhoto in inpaintPhotos %}
            <img src="{{ inpaintPhoto.image.url }}" alt="connect" style="max-height: 100px"
            data-photo-id="{{ inpaintPhoto.id }}" data-photo-model="inpaintPhoto" onclick="moveImageToEdit(this, 'inpaint_image_from_base', 'myCanvas')">
        {% endfor %}
    </div>




    <form action="{% url 'iti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all image to image photos from database</button>
    </form>

      <style>
        canvas {
            border: 1px solid #000;
        }
    </style>
<script>

function checkAndSubmit() {
    var imageToEdit = document.getElementById('myCanvas');
    var maskedImage = document.getElementById('maskedImage');

    if (imageToEdit.children.length > 0) {
        var selectedImage = imageToEdit.children[0];
        var selectedMask = maskedImage.children[0];
        var photoId = selectedImage.getAttribute('data-photo-id');
        var maskUrl = selectedMask.getAttribute('src')
        console.log(maskUrl)

        var formData = new FormData(document.getElementById('myForm'));
        var photoModel = selectedImage.getAttribute('data-photo-model');

        formData.append('photo_id', photoId);
        formData.append('photo_model', photoModel);
        formData.append('maskUrl', maskUrl)


        fetch(document.getElementById('myForm').action, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('changed_img').innerHTML = '<img src="' + data.changed_image_url + '" alt="Changed Image" style="max-height: 200px">';
            var imagetoimage = document.createElement('img');
            imagetoimage.src = data.changed_image_url;
            imagetoimage.alt = 'changed image';
            imagetoimage.style = 'max-height: 100px';
            document.getElementById('iti_image_from_base').appendChild(imagetoimage);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else{
        alert('Add image before running the script.');
    }
}

var selectedImage = null;



function moveImageToEdit(imgElement, sourceContainerId, targetContainerId) {
    var sourceContainer = document.getElementById(sourceContainerId);
    var targetContainer = document.getElementById(targetContainerId);
    var changedImgContainer = document.getElementById('changed_img');
    var saveButton = document.getElementById('saveButton');
    var resetButton = document.getElementById('resetButton');
    var instructionDiv = document.getElementById('instructionDiv');
    var maskedImageDiv = document.getElementById('maskedImage');

    var middleOptionsButton = document.getElementById('middleOptionsButton');

    saveButton.style.display = 'block';
    resetButton.style.display = 'block';
    instructionDiv.innerHTML = 'Start drawing, then press button to create mask';

    if (targetContainer.children.length > 0)  return;

    function resetImage() {
        maskedImageDiv.innerHTML = '';

        changedImgContainer.innerHTML = '';
        sourceContainer.appendChild(imgElement);
        imgElement.style.maxHeight = '100px';
        imgElement.onclick = function() {
            moveImageToEdit(this, sourceContainerId, targetContainerId);
        };
        selectedImage = null;
        instructionDiv.innerHTML = 'Click image from below to add to edit';
        saveButton.style.display = 'none';
        resetButton.style.display = 'none';

        middleOptionsButton.style.display = 'none';
        clearCanvas();
    }

    sourceContainer.removeChild(imgElement);
    imgElement.style.maxHeight = '200px';

    imgElement.onclick = resetImage;

    targetContainer.appendChild(imgElement);
    selectedImage = imgElement;
    createCanvas();
    if (resetButton) resetButton.onclick = resetImage;
}

var saveButton = document.getElementById('saveButton');
if (saveButton) saveButton.onclick = saveImage;

function clearCanvas() {
    context.clearRect(0, 0, canvas.width, canvas.height);
}


var originalImage = selectedImage || document.getElementById('originalImage');
var canvas = document.getElementById('myCanvas');
var context = canvas.getContext('2d');

function createCanvas(){
    originalImage = selectedImage || document.getElementById('originalImage');
    canvas = document.getElementById('myCanvas');
    context = canvas.getContext('2d');
    var maxHeight = 280;

    var aspectRatio = originalImage.width / originalImage.height;

    if (originalImage.height > maxHeight) {
        canvas.height = maxHeight;
        canvas.width = maxHeight * aspectRatio;
    } else {
        canvas.width = originalImage.width;
        canvas.height = originalImage.height;
    }
    context.drawImage(originalImage, 0, 0, canvas.width, canvas.height);

    var isDrawing = false;

    function startDrawing(e) {
        isDrawing = true;
        draw(e);
    }

    function stopDrawing() {
        isDrawing = false;
        context.beginPath();
    }

    function draw(e) {
        if (!isDrawing) return;

        context.lineWidth = 50;
        context.lineCap = 'round';
        context.strokeStyle = '#b803ff';

        var rect = canvas.getBoundingClientRect();
        var x = e.clientX - rect.left;
        var y = e.clientY - rect.top;

        context.lineTo(x, y);
        context.stroke();
        context.beginPath();
        context.moveTo(x, y);
    }

    canvas.addEventListener('mousedown', startDrawing);
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', stopDrawing);
    canvas.addEventListener('mouseout', stopDrawing);
}

function saveImage() {
    var middleOptionsButton = document.getElementById('middleOptionsButton');
    middleOptionsButton.style.display = 'block';


    var imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    var tolerance = 5;

    for (var i = 0; i < imageData.data.length; i += 4) {
        var red = imageData.data[i];
        var green = imageData.data[i + 1];
        var blue = imageData.data[i + 2];

        var isPurple = Math.abs(red - 184) <= tolerance &&
            Math.abs(green - 3) <= tolerance &&
            Math.abs(blue - 255) <= tolerance;

        if (isPurple) {
            imageData.data[i] = 255; 
            imageData.data[i + 1] = 255; 
            imageData.data[i + 2] = 255;
        } else {
            imageData.data[i] = 0;
            imageData.data[i + 1] = 0;
            imageData.data[i + 2] = 0;
        }
    }

    context.putImageData(imageData, 0, 0);

    var editedImage = canvas.toDataURL('image/png');
    var maskedImageDiv = document.getElementById('maskedImage');
    maskedImageDiv.innerHTML = '<img src="' + editedImage + '" style="max-height: 500px;">';


    //var editedImage = canvas.toDataURL('image/png');
    //var newWindow = window.open();
    //newWindow.document.write('<img src="' + editedImage + '" width="100%">');

    context.drawImage(originalImage, 0, 0, canvas.width, canvas.height);
}




function generateRandomSeed() {
    var randomSeed = Math.floor(Math.random() * 1000000000) + 1;
    document.getElementById("seed_input").value = randomSeed;
}

var guidanceSlider = document.getElementById("guidance_scale_input");
var guidanceOutput = document.querySelector("output[for=guidance_scale_input]");

var strengthSlider = document.getElementById("strength_scale_input");
var strengthOutput = document.querySelector("output[for=strength_scale_input]");

guidanceSlider.addEventListener("input", function() {
    guidanceOutput.textContent = guidanceSlider.value;
});

guidanceSlider.addEventListener("change", function() {
    guidanceOutput.textContent = guidanceSlider.value;
});

strengthSlider.addEventListener("input", function() {
    strengthOutput.textContent = strengthSlider.value;
});

strengthSlider.addEventListener("change", function() {
    strengthOutput.textContent = strengthSlider.value;
});



</script>

{% endblock %}