{% extends 'main/base.html' %}
{% block title %}
    TextToImage
{% endblock %}



{% block content %}

    <div>TextToImage</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'TEXTTOIMAGE_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Write prompt</h5>
                            <input type="text" name="text_input" required>
                        </form>
                    </div>
                </div>
            </div>
                
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="texttoimage_image_from_base">
        <h2>TextToImage from base</h2>
        {% for ttiPhotos in ttiPhotos %}
            <img src="{{ ttiPhotos.image.url }}" alt="{{ttiPhotos.prompt}}" style="max-height: 100px">
        {% endfor %}
    </div>
    
    <form action="{% url 'delete_all_tti_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all texttoimage photos</button>
      </form>

      <script>
        function checkAndSubmit() {
            var formData = new FormData(document.getElementById('myForm'));
        
            fetch(document.getElementById('myForm').action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('changed_img').innerHTML = '<img src="' + data.changed_image_url + '" alt="Changed Image" style="max-height: 200px">';
                var texttoimage = document.createElement('img');
                texttoimage.src = data.changed_image_url;
                texttoimage.alt = 'changed image';
                texttoimage.style = 'max-height: 100px';
                document.getElementById('texttoimage_image_from_base').appendChild(texttoimage);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        </script>


{% endblock %}