{% extends 'main/base.html' %}
{% block title %}
    TextToImage
{% endblock %}

{% block statics %}    
    {% load static %}
    <script type="text/javascript" src="{% static 'text_to_image.js' %}" defer></script>
{% endblock %}

{% block content %}

    <div>TextToImage</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'tti_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Write prompt</h5>
                            </br>
                            <label for="model_input">Select Model:</label>
                            <select name="model_input" id="model_input">
                                <option value="runwayml/stable-diffusion-v1-5">runwayml/stable-diffusion-v1-5</option>
                                <option value="stabilityai/stable-diffusion-2-1">stabilityai/stable-diffusion-2-1</option>
                                <option value="kandinsky-community/kandinsky-2-2-decoder">kandinsky-community/kandinsky-2-2-decoder</option>
                                <option value="stabilityai/stable-diffusion-xl-base-1.0">stabilityai/stable-diffusion-xl-base-1.0</option>
                            </select>
                            </br>
                            <textarea name="text_input" rows="5" cols="60" required></textarea>
                            </br>
                            <label for="seed_input">Seed:</label>
                            <input type="number" name="seed_input" id="seed_input" value="598598540">
                            <button type="button" onclick="generateRandomSeed()">Generate Random Seed</button>
                            </br>
                            <label for="guidance_scale_input">Guidance Scale:</label>
                            <input type="range" name="guidance_scale_input" id="guidance_scale_input" min="0.0" max="20.0" step="0.1" value="3.1">
                            <output for="guidance_scale_input">3.1</output>
                            </br>
                            <label for="steps_input">Steps:</label>
                            <input type="range" name="steps_input" id="steps_input" min="1" max="100" value="25">
                            <output for="steps_input">25</output>
                        </form>
                    </div>
                </div>
            </div>
                
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="texttoimage_image_from_base">
        <h2>TextToImage from base</h2>
        {% for ttiPhotos in ttiPhotos %}
            <img src="{{ ttiPhotos.image.url }}" alt="{{ttiPhotos.prompt}}" style="max-height: 100px">
        {% endfor %}
    </div>
    
    <form action="{% url 'tti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all texttoimage photos</button>
    </form>

{% endblock %}