{% extends 'main/base.html' %}
{% block title %}
    TextToImage
{% endblock %}



{% block content %}

    <div>TextToImage</div> 
    <div class="m-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <form id="myForm" method="post" action="{% url 'tti_run' %}">
                            {% csrf_token %}
                            <h5 class="card-title">Write prompt</h5>
                            <textarea name="text_input" rows="5" cols="60" required></textarea>

                            <label for="seed_input">Seed Input:</label>
                            <input type="number" name="seed_input" id="seed_input" placeholder="Enter an integer or leave blank for random">
                            <button type="button" onclick="generateRandomSeed()">Generate Random Seed</button>

                        
                            <label for="guidance_scale_input">Guidance Scale:</label>
                            <input type="range" name="guidance_scale_input" id="guidance_scale_input" min="0.0" max="20.0" step="0.1" value="0.0">
                            <output for="guidance_scale_input">0.0</output>
                        
                            <label for="steps_input">Steps Input:</label>
                            <input type="range" name="steps_input" id="steps_input" min="1" max="100" value="1">
                            <output for="steps_input">1</output>
                        </form>
                    </div>
                </div>
            </div>
                
            <div class="col-sm-4">
                <div class="card text-center" style="height: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <button type="button" class="btn btn-outline-secondary btn-block" onclick="checkAndSubmit()">Run script</button>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card" style="height: 24rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Result</h5>
                        <div id="changed_img" style="max-height: 100px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-3" id="texttoimage_image_from_base">
        <h2>TextToImage from base</h2>
        {% for ttiPhotos in ttiPhotos %}
            <img src="{{ ttiPhotos.image.url }}" alt="{{ttiPhotos.prompt}}" style="max-height: 100px">
        {% endfor %}
    </div>
    
    <form action="{% url 'tti_delete_all_photos' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all texttoimage photos</button>
      </form>

      <script>
        function checkAndSubmit() {
            var formData = new FormData(document.getElementById('myForm'));
        
            fetch(document.getElementById('myForm').action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('changed_img').innerHTML = '<img src="' + data.changed_image_url + '" alt="Changed Image" style="max-height: 200px">';
                var texttoimage = document.createElement('img');
                texttoimage.src = data.changed_image_url;
                texttoimage.alt = 'changed image';
                texttoimage.style = 'max-height: 100px';
                document.getElementById('texttoimage_image_from_base').appendChild(texttoimage);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }



        function generateRandomSeed() {
            var randomSeed = Math.floor(Math.random() * 1000000000) + 1;
            document.getElementById("seed_input").value = randomSeed;
        }
        </script>



{% endblock %}