.onhover-effect {
    opacity: 0.8;
    }

    .selected { border: 5px solid rgb(62, 203, 62);  }

    img{
        width: 40vmin;
        height: 56vmin;
        object-fit:cover;
        object-position:center;
    }

    .photo-container {
    position: relative;
    display: inline-block;
    }

    .like-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: gray; 
        cursor: pointer;
        font-size: 30px;
    }

    .like-icon.clicked {
        color: red;
    }